ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #9792E3;
    border-radius: 5px;
    display: grid;
    height: 50px;
    margin: 5px;
    box-sizing: border-box;
    grid-template-columns: 100px 1fr minmax(100px, auto) 100px;
}
li {
    font-size: 25px;
    padding: 20px 0 0 0;
    margin: auto;
}
li a {
    font-size: 20px;
    text-decoration: none;
    color: #5A5766;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #48435C;
    cursor: pointer;
    line-height: 50px;
}
li a:hover {
    text-decoration: none;
    color: #9792E3;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #5A5766;
}
